<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <div class="step_one_heading" [ngStyle]="{'background': colorCode }">

    <ion-row>
      <ion-col text-center col-6 col-md-6 class="step_one">
        <button class="back_btn" (click)="closeModal()"><img src="assets/imgs/back_arrow.png">
          {{translate.instant("commonBack")}}</button>
        <h1 text-center ion-text>{{translate.instant("PlaylistPage.title")}}</h1>
        <ion-row class="listing">

          <ion-col>
            <ion-row class="audio_listing">
              <ion-content fullscreen>
                <ion-list no-lines>
                  <button detail-none ion-item *ngFor="let track of tracks; let i = index;"
                    (click)="track.playing ? pauseTrack(track) : playTrack(track)"
                    [ngClass]="{ 'alternate': i % 2, 'playing': track.playing }">
                    <ion-avatar item-left>
                      <button *ngIf="!track.playing" (click)="playTrack(currentTrack)" class="play_list" ion-button
                        icon-only>
                        <ion-icon name="play"></ion-icon>
                      </button>
                      <button *ngIf="track.playing" (click)="pauseTrack(currentTrack)" class="play_list" ion-button
                        icon-only>
                        <ion-icon name="pause"></ion-icon>
                      </button>
                    </ion-avatar>
                    <div float-left>{{track.title}}</div>
                    <div float-right>{{track.durationString}}</div>
                  </button>
                </ion-list>

              </ion-content>
            </ion-row>
          </ion-col>
        </ion-row>



        <ion-footer>
          <ion-grid>
            <ion-row class="footerRowCls">
              <ion-col col-1>
                <button (click)="prevTrack()" class="rewind" ion-button icon-only>
                  <ion-icon name="rewind"></ion-icon>
                </button>
              </ion-col>

              <ion-col col-2>
                <button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" class="play" ion-button
                  icon-only>
                  <ion-icon name="play"></ion-icon>
                </button>
                <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" class="play" ion-button
                  icon-only>
                  <ion-icon name="pause"></ion-icon>
                </button>
              </ion-col>

              <ion-col col-1>
                <button (click)="nextTrack()" class="fastforward" ion-button icon-only>
                  <ion-icon name="fastforward"></ion-icon>
                </button>
              </ion-col>


              <ion-col class="volume_icon">
                <button>
                  <ion-icon name="ios-volume-up" class="ios_volume_icon"></ion-icon>
                </button>
                <ion-range min="1" max="100" step="1" [(ngModel)]="knobValues"></ion-range>
              </ion-col>

            </ion-row>
            <button class="back_btn1 bck_btn_mobile" (click)="closeModal()"><img src="assets/imgs/back_arrow.png">
              {{translate.instant("commonBack")}}</button>
          </ion-grid>

        </ion-footer>

      </ion-col>
      <ion-col text-center col-12 class = "bottomTagLineCol" >
              <span class="bottomTagLine" >{{translate.instant("PlaylistPage.footer.str1")}}
                  <strong>{{translate.instant("PlaylistPage.footer.str2")}}</strong>
                  {{translate.instant("PlaylistPage.footer.str3")}}
                 <strong> {{translate.instant("PlaylistPage.footer.str4")}}</strong>
              </span>
          </ion-col>
    </ion-row>

  </div>
</ion-content>