<!--
  Generated template for the MusicBenefitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>usingmusicbenefit</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content id="myModel">
  <div class="step_one_heading">
    <ion-list class="home">
      <ion-row>
        <ion-col text-center col-6 class="step_one">
          <div class="back_btn"><a href="#" (click)="closeModal()"><img src="assets/imgs/back_arrow.png"> {{translate.instant("commonBack")}}</a></div>
            <h1 text-center ion-text>{{translate.instant("startMusicBenefitTitle")}}</h1>
            <!-- <ul>
                <li *ngFor="let item of items_one; let i = index">
                  {{ item.name }}
                    <span class="round"> 
                      <input type="radio" name="demo" (click)="changeStatus(i)" value="{{ i }}" id="radio-one" class="form-radio" [checked]=" (item.active)"  /></span>
                </li>
            </ul> -->
            <ion-list radio-group [(ngModel)]="musicStyle">
                  
              <ion-item *ngFor="let item of items_one; let i = index">              
                    <ion-label style="color:black;">{{ item.name }} &nbsp;  
                        <ion-icon name="ios-help-circle-outline" tooltip="Help" positionV="top" [attr.duration]="10000"></ion-icon></ion-label> 
                    <ion-radio value="{{i}}" class="form-radio"(ionSelect)="changeStatus(i)" [checked]=" (item.active)" ></ion-radio>
               </ion-item>
               </ion-list>
            <ion-col text-center>
              <div class="next_bta" ><button (click)="goToMusicStyle()">{{translate.instant("commonNext")}} </button></div>
            </ion-col>
        </ion-col>
        
      </ion-row>
    </ion-list>
  </div>
</ion-content>
