// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.icon-ios-primary {
    color: #73B5EC;font-weight: bolder;font-size: 1.2em;
  }
  .has-arrow{
    border-radius: 8px;
    padding: 15px
  }
.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.scroll-content {
    padding: 0px !important;
    overflow: hidden !important;
}
.popover-ios .popover-content {
    border-radius: 10px;
    width: 350px;
    min-width: 0;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fff;
  }  

#tipsScroll .scroll-content {
    overflow-y: scroll !important;
}

.toolbar-title-md {
    text-align: center !important;
    color: #ffffff !important;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true]{
    color: color($colors, dark);
    font-weight: bold;
}
$colors: (
bright-gray-text: color($colors, dark),
periwinkle: color($colors, periwinkl),
texas-rose-button:color($colors, texasRose),
riptide: #77E0C0,
pink-salmon: color($colors, pinkSalmon),
favorite: #69BB7B,
mulberry: color($colors, mulberry),
jordy-bluem:color($colors, jordBlue),
library_style_top:#f4f4fe,
audio_player_bg:#f4f4fe,
audio_play_btn_bg:#5f6177,
audio_btn:#81859a,
audio_list_icon:#363b54,
);